<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <script src="https://kit.fontawesome.com/3e48c8f6cb.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
   <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
         <a class="navbar-brand" href="/">
           <span>Bookers</span>
           <% if user_signed_in? %>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-NavDropdown" area-controls="navbar-NavbarDropdown" area-expandet="false"
           area-label="Toggle-navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav ml-auto">
                <a class="nav-link text-light" href="/">
                <li><i class="fa fa-home"></i> Home</li>
                </a>
                <a class="nav-link text-light" href=>
                  <li><i class="fa-solid fa-users"></i> Users</li>
                  </a>
                  <a class="nav-link text-light" href="">
                  <li><i class="fa-solid fa-book-open"></i> Books</li>
                  </a>
                  <a class="nav-link text-light">
                <li><i class="fa-solid fa-right-from-bracket"></i><%= link_to " Log out",destroy_user_session_path, method: :delete %></li>
                </a>

                <% else %>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
               <ul class="navbar-nav ml-auto">
                <a class="nav-link text-light" href="/">
                <li><i class="fa fa-home"></i> Home</li>
                </a>
                <a class="nav-link text-light" href="/homes/about">
                  <li><i class="fa-solid fa-link"></i> About</li>
                  </a>
                  <a class="nav-link text-light" href="/users/sign_up">
                  <li><i class="fa-solid fa-user-plus"></i> Sign up</li>
                  </a>
                  <a class="nav-link text-light" href="/users/sign_in">
                <li><i class="fa-solid fa-right-to-bracket"></i> Log in</li>
                </a>

               </ul>
                </li>
              </div>
            </div>
          </nav>
          <% end %>
         </header>
         <%= yield %>
         </body>
        <footer>
          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <p>CopyRight Infratop.inc</p>
              </div>
            </div>
          </div>
        </footer>


</html>
